.episode{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.episode__index{
    font-size: 18px;
    background: gray;
    padding: 3px;
   margin-bottom: 15px;
}

.episode__des{
    display: flex;
    flex-direction: column;
}
.episode__des__main{
    font-size: 20px;
    font-weight: bold;
}
.episode__des__sub{
    font-size: 15px;
}

.episode__time{
 color:gray;   
}

.status__live{
    color:rgb(60,179,113);
}