.list{
   display: flex;
   align-items: center;   
   padding-top: 5px;
   padding-bottom: 5px;
}
.list__icon{
    margin-left: 10px;
    color:rgb(175, 175, 175);
    margin-right: 10px;
}

.list__title{
    font-size: 15px;
}
.selected{
    background: rgb(60,179,113);
}